@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  /* background-color: aquamarine; */
}

.primary-container{
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 8px; */
}

a{
  text-decoration: none;
}

@media (min-width: 300px) {
#sld > div > button {
  top: 350px!important;
  }
  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 34px!important;
    line-height: 1;
    opacity: .75;
    color: rgb(13, 14, 21)!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 100!important;
}
  .container {
    max-width: 94%;
  }

  @keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 260px;
   height : 260px
  }
}


}
@media (min-width: 320px) {
 #sld > div > button {
  top: 280px!important;
  margin-left: 35px;
  }
  .container {
    max-width: 95%;
  }

  @keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 260px;
   height : 260px
  }
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px!important;
    line-height: 1;
    opacity: .75;
    color: rgb(13, 14, 21)!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 100!important;
}

}
@media (min-width: 576px) {
  #sld > div > button {
  top: 320px!important;
  margin-left: 35px;
  }
  .container {
    max-width: 540px;
  }

   @keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 340px;
   height : 340px
  }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px!important;
    line-height: 1;
    opacity: .75;
    color: rgb(13, 14, 21)!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 100!important;
}
}

@media (min-width: 768px) {
 #sld > div > button {
  top: 360px!important;
  margin-left: 35px;
  }
  .container {
    max-width: 720px;
  }

   @keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 340px;
   height : 340px
  }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 34px!important;
    line-height: 1;
    opacity: .75;
    color: rgb(13, 14, 21)!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 100!important;
}
}

@media (min-width: 992px) {
  #sld > div > button {
  top: 220px!important;
  margin-left: 35px;
  }
  .container {
    max-width: 960px;
  }

   @keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 340px;
   height : 340px
  }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 34px!important;
    line-height: 1;
    opacity: .75;
    color: rgb(13, 14, 21)!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 100!important;
}
}

@media (min-width: 1200px) {
   #sld > div > button {
  top: 200px!important;
  margin-left: 35px;
  }
  .container {
    max-width: 1400px;
  }

   @keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 340px;
   height : 340px
  }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 34px!important;
    line-height: 1;
    opacity: .75;
    color: rgb(13, 14, 21)!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    z-index: 100!important;
}
}


/* circle animation */

@keyframes rotate90 {
  0% {
    transform: rotate(0deg); /* Starting rotation */
  }
  50% {
    transform: rotate(90deg); 
    opacity: 0;
  }
  100% {
    transform: rotate(90deg); 
    opacity: 0;
  }
}

.main-box:hover .box-1 {
  animation: rotate90 1s forwards;  
  transform: rotate(90deg);  
}

.main-box:hover .content-box {
  animation: none!important; /* Disable animation for .content-box */
}


/* 
@keyframes animatedBox-2 {
  from {
    transition: all 0.8s ease-in-out;
   width: 0px;
   height : 0px
  }
  to {
    transition: all 0.8s ease-in-out;
    width: 400px;
   height : 400px
  }
} */

.main-box:hover .box-2 {
    transition: all 0.8s ease-in-out;
  animation: animatedBox-2 1s forwards;  
  transform: rotate(90deg);  
}

.main-box:hover .content-box {
  animation: none!important; /* Disable animation for .content-box */
}


 .testimonial-next{
  background-color: blue!important;
 }

 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-in-secondary{
  animation: fadeIn 0.15s ease-in-out;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.fade-out-secondary {
  animation: fadeOut 0.15s ease-in-out;
}

.fade-out-fast {
  animation: fadeOut 0.15s ease-in-out;
}

/* dashboard form button */
/* Base Button Styles */
.dashboard_form_btn {
  background-color: #a42315;
  transition-duration: 200ms;
  color: white;
  padding: 8px 18px; /* You may need to adjust these values */
  margin-top: 18px;
  border-radius: 0.375rem; /* Rounded-md equivalent */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Shadow-lg equivalent */
}

/* Button Hover State */
.dashboard_form_btn:hover {
  background-color: #681a11;
}


#videoBox{
  width: 100%!important;
  height: 100%!important;
}

.f-slider > .swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 16px!important;
    background-color: rgb(107, 23, 23);
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 2px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.f-slider > .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 16px!important;
    background-color: rgb(107, 23, 23);
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 2px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}


@media print {

  html,body{
  
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
    box-sizing: border-box;
  }
  .print-title{
    font-size: 20px;
    text-align: center;
   }
   .print-center-box{
   /* margin-left: 30px!important; */
    transform: translateX(100px);
    margin-top: -105px!important;
   }
   .print-mt-header-0{
    transform: translateY(-30px)!important;
   }
   .print-mt-header { 
      transform: translateY(-30px)!important;
   }
   .print-mt-header-2 { 
      transform: translateY(-40px)!important;
   }
    .print-mt-header-3 { 
      transform: translateY(-40px)!important;
   }
      .print-mt-header-4 { 
      transform: translateY(-70px)!important;
   }
  .print-box{
    width : 400px
  }
  .print-box-2{
    width : 350px
  }
  .print-bar{
    padding: 0px 8px!important;
    height : 20px
  }
  .print-data-show{
    padding: 2px 5px;
  }
  .print-main-box{
    padding: 20px;
    margin: 0;
    height: fit-content;
    max-width: 1366px;
  }
  .hide-print {
    display: none !important;
  }
  .print-data {
    display: block !important;
  }
.print-photo {
    width: 80px!important;
  height: 100px!important;
}
.print-bar> p {
  font-size: 14px!important;
}
.print-logo{
  margin-top: 60px!important;
  width: 100px!important;
}
.print-title{
  font-size: 18px!important;
  line-height: 18px!important;
}
.print-date-box{
  width : 230px!important;
  height : 30px!important;
}
.print-date-text{
  font-size: 12px!important;
}
.print-tx-1{
  left:2px!important;
}
.print-tx-2{
  left: 68px!important;
}
.print-tx-3{
   left: 140px!important;
}
.print-date-label{
  word-spacing: -4px;
  margin-right: 0px!important;
}

.print-single-box{
  width: 30%!important;
  /* background: red!important; */
}
.print-single-box-2{
  width: 70%!important;
  /* background: green!important; */
}
/* .print-bar{
  height : 30px!important;
} */
.print-box{
  padding: 0px 20px!important;
  white-space: nowrap;
  width: 100%;
}
.print-mt-sm{
  margin-top: 13px!important;
}

.print-py-sm{
  padding: 0px 5px!important;
}
}

 
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sld > div > button {
  top: 291px !important;
  margin-left: 35px;
}

@media only screen and (max-width: 767px) {
  #sld>div>button {
    top: 440px !important;
    margin-left: 35px;
  }
}
